@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Chakra Petch', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.slide-in-from-left {
	animation: slideInFromLeft 0.25s ease-in-out;
	-webkit-animation: slideInFromLeft 0.25s ease-in-out;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}