@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #286f6c;
  --bg-color: #f8f7f1;
  --sec-color: #0d2f3f;
  --font-sans: "Zen Maru Gothic", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  min-width: 0;
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  padding: 0px;
  scroll-behavior: smooth !important;
  letter-spacing: 1.2px;
  /* Firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

body {
  background-color: #f1f1f1;
}

p,
span {
  padding: 0 5px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@layer utilities {
  .animate-blink {
    animation: blink 1s step-start infinite;
  }
  .shadow-gradient {
    box-shadow:
      0 0 20px rgba(255, 0, 150, 0.5),
      0 0 30px rgba(0, 204, 255, 0.5);
  }
}
