@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-color: #286f6c;
	--bg-color: #f8f7f1;
	--sec-color: #0d2f3f;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	min-width: 0;
	line-height: 2;
	font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 12px;
	padding: 0px;
	scroll-behavior: smooth !important;
	letter-spacing: 1.2px;
}

body {
	background-color: #f1f1f1;
}

p, span{
	padding: 0 5px;
}